* {
  background-color: aliceblue;
}

.kuchbhi {
  background-color: blueviolet;
}

#fullName {
  background-color: bisque;
}

h1 {
  background-color: aquamarine;
}

#submitButton {
  background-color: blue;
}
