* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: skyblue;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10px;
}

#menu-items {
  display: flex;
  gap: 15px;
  align-items: center;
}

#menu-items button {
  padding: 5px 10px;
  background: rgb(135, 249, 184);
  border: 1px solid #028b39;
  border-radius: 5px;
}

#ask-me {
  padding: 5px 10px;
  background: rgb(249, 135, 135);
  border: 1px solid #8b0202;
  border-radius: 5px;

  position: fixed;
  bottom: 30px;
  right: 40px;
}
